body {
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    gap: 12px;

}

header p {
    padding: 12px;
    opacity: .25;
}

.title, .date, .description {
    opacity: 1;
}


main img {
    height: 100vh;
}

figure {
    display: flex;
    /* margin: 25vh 0; */
    justify-content: center;
}


#featured figure {
    margin: 0 0;
    width: 100%;
   }
#featured figure img {
    width: 100%;       
}

figure {
    display: none;
    width: 100%;
    height: 100%;
}
figure:first-of-type {
   display: block;
}