body {
    padding: 0;
}
.backbttn {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid var(--dark-grey);
    border-radius: 50%;
    text-align: center;
    z-index: 999;
    font-weight: 300;
}
.title {
    position: absolute;
    top: 24px;
    width: 100%;
}

main {
    position: relative;
}
button {
    border: 0;
    background-color: transparent;
}
.prev {
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    /* background-color: pink; */
    /* opacity: .25; */
    z-index: 999;
    cursor: w-resize;
    /* cursor: url(https://a.benjamingood.net/assets/images/uploads/cursor-03.png), w-resize; */
}
.next {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    /* background-color: blue; */
    /* opacity: .25; */
    z-index: 999;
    cursor: e-resize;
    /* cursor: url(https://a.benjamingood.net/assets/images/uploads/cursor-04.png), e-resize; */
}
figure {
    display: none;
    /* opacity: 0; */
    /* visibility: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
figure:first-of-type {
    display: flex;
    /* opacity: 1; */
    /* visibility: visible; */
}
img {
    max-width: 800px;
    max-height: 800px;
    object-fit: contain;
    background-color: transparent;
}
figcaption {
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
}

.date {
    position: absolute;
    top: 24px;
    right: 24px;
}
.description {
    /* padding: 24px; */
    width: 400px;
    /* text-align: justify;
    text-justify: inter-word; */
    /* border-radius: 8px;
    background-color: var(--light-grey); */
}