:root {
    --white: #ffffff;
    --black: #000000;
    --light-grey: #e8ede8;
    --dark-grey: #7a7d7b;
    --salmon: salmon;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    color: var(--black);
    position: relative;
}
a, a:visited {
    width: max-content;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--dark-grey);
}
nav {

    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}
nav p {
    padding-bottom: 10px;
}
.branding {
    padding-bottom: 10px;

}
h1 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

figure {
    width: 400px;
}
img {
    width: 100%;
    height: auto;
}

footer {
    position: absolute;
    left: 10px;
    bottom: 10px;
}