:root {
    --white: #ffffff;
    --black: #000000;
    --light-grey: #e8ede8;
    --dark-grey: #d7dbd7;
    --salmon: salmon;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 12px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    scroll-behavior: smooth;
    background-color: var(--white);
}
main {
    min-height: 100vh;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header {
    padding: 10px 0 50px;
    /* opacity: 0.5; */
}
header a {
    margin: 0 8px 0 0;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--white);
}
header a:hover {
    /* background-color: var(--light-grey); */
}
header a.active {
    border-radius: 0;
    background-color: var(--light-grey);
}
#about {
    display: none;
    margin: 0 8px 0 0;
    padding: 8px;
    width: 50vw;
    max-width: 400px;
    background-color: var(--light-grey);

}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

#featured figure {
 width: 100%;
}
#featured figure img {
    width: 100%;
    
}


img {
    /* max-width: 400px; */
    height: auto;
}

footer span {
    padding-right: 20px;
}