<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {% include "meta.njk" %}
    {% include "scripts.njk" %}
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body class="about">

    <nav>
      <ul>
        <li>
          <a href="/">
            <h1>post neue</h1>
            <p>Praterstraße 17<br>1020 Vienna</p>
          </a>
        </li>
        <li>
          <h1>artists</h1>
          <a href=""><p>Nathan Spasic</p></a>
          <a href=""><p>Mark Napadenski</p></a>
          <a href=""><p>Benjamin Good</p></a>
        </li>
        <li>
          <h1>exhibitions</h1>
          <a href=""><p>A Small Show about a BIG THING</p></a>
          <a href=""><p>Mark Napadenski</p></a>
          <a href=""><p>Benjamin Good</p></a>
        </li>
        <li>
          <h1>news</h1>
          <a href="">website launched and these are the things people are saying</a>
          <a href="">writing about show</a>
          <a href="">other news</a>
        </li>

      </ul>

    <main> 


    </main>



    {% include "footer.njk" %}

  </body>
</html>
