<!doctype html>
<html>
  <head>
    <title>Benjamin Good</title>
    {% include "meta.njk" %}
    {% include "scripts.njk" %}
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body class="base">

    <header>
      <a class="infobttn">i</a>
      <p class="branding">benjamin good</p>
      <div class="infobox">
        <a class="closebttn">&#x2715;</a>
        <p class="info">Benjamin Good is a Master of Architecture candidate at the Harvard Graduate School of Design.<br><br>He obtained his Bachelors in Art History from UC Berkeley<br><br>CV and PDF portfolio avaiilable upon request.</p>
        <p>benjamingood@gsd.harvard.edu</p>
        <p>+1 312 404 9583</p>
      </div>
    </header>

    <main>
      <ul>
        {%- for project in collections.projects | reverse -%}
            <li>
                <a href="{{ project.url | url }}">
                    {{ project.data.featuredImage | markdown | safe }}
                </a>
            </li>
        {%- endfor -%}
      </ul>
    </main>



    {% include "footer.njk" %}

  </body>
</html>
