<!doctype html>
<html>
  <head>
    <title>Benjamin Good</title>
    {% include "meta.njk" %}
    {% include "scripts.njk" %}
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body class="base">

    <header>
      <a>Benjamin Good</a>
      <p id="about">
        <br>is a Master of Architecture candidate at the Harvard Graduate School of Design.<br><br>benjamingood@gsd.harvard.edu<br>+1 312 404 9583



      </p>
    </header>

    <main>
      <ul>
        {%- for project in collections.projects | reverse -%}
            <li>
                <a href="{{ project.url | url }}">{{ project.data.title }}</a>
            </li>
        {%- endfor -%}
      </ul>
    </main>



    {% include "footer.njk" %}

  </body>
</html>
