<!doctype html>
<html>
  <head>
    <title>Benjamin Good</title>
    {% include "meta.njk" %}
    {# {% include "scripts.njk" %} #}
    {# <link rel="stylesheet" href="/assets/css/style.css"> #}
  </head>
  <body class="">
    <h1>architecture site</h1>

    <ul>
        {%- for project in collections.projects | reverse -%}

        <li>
            <a href="{{ project.url }}">
                {{ project.data.title }}
            </a>
        </li>
        {%- endfor -%}


    </ul>




    
    
    {# {% include "footer.njk" %} #}

  </body>
</html>
