<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {% include "meta.njk" %}
    {% include "scripts.njk" %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
  <body class="project">
    

    <main>
      <section class="gallery">
        <figure>
          <p class="title">{{ title }}</p>
          <p class="date">{{ date.getFullYear().toString() | safe }}</p>
          <p class="description">{% if description | length %}{{ description | safe }}{% endif %}</p>

        </figure>
        {% if gallery | length %}{{ gallery | markdown | safe }}{% endif %}
      </section>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
