<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {% include "meta.njk" %}
    {% include "scripts.njk" %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
  <body class="project">
    
    <header>
      <a class="backbttn" href="/">&#8592;</a>
      <p class="title">{{ title }}</p>
    </header>
    <main>
      <button class="prev"></button>
      <button class="next"></button>
      <section class="gallery">
        <figure class="text">
          <p class="date">{{ date.getFullYear().toString() | safe }}</p>
          <div class="description">{{ description | markdown | safe }}</div>
          
        </figure>
        {{ gallery | markdown | safe }}
      </section>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
