<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    {# {% include "meta.njk" %} #}
    {# {% include "scripts.njk" %} #}
    {# <link rel="stylesheet" href="/assets/css/style.css"> #}
    {# <link rel="stylesheet" href="/assets/css/work.css"> #}
</head>
  <body id="{{ title }}" class="">

    <header>
        {# <a class="back" href="/">
          {% if 'Text' in kind %}<span class="kind t-block">Text</span>{% endif %}
          {% if 'Image' in kind %}<span class="kind i-block">Image</span>{% endif %}
          {% if 'Architecture' in kind %}<span class="kind a-block">Architecture</span>{% endif %}
          {% if 'Object' in kind %}<span class="kind o-block">Object</span>{% endif %}
          {% if 'Photography' in kind %}<span class="kind p-block">Photography</span>{% endif %}
          {% if 'Video' in kind %}<span class="kind v-block">Video</span>{% endif %}
          {% if 'Web' in kind %}<span class="kind w-block">Video</span>{% endif %}
        </a>
        <p class="title">{{ title }}</p>
        <p class="media">{{ media | join(", ") | string | lower }}</p>
        <p class="date">{{ date.getFullYear().toString() | safe }}</p> #}
    </header>

    <main>
      {# <aside>
        {% if description | length %}<div class="description">{{ description | safe }}</div>{% endif %}
        {% if collaborators | length %}<div class="collaborators">with {{ collaborators | safe }}</div>{% endif %}
      </aside> #}
      <section class="gallery">
        {# {% if gallery | length %}<section class="gallery">{{ gallery | markdown | safe }}</section>{% endif %} #}
      </section>
    </main>

  </body>
</html>
